<div class="bg-white py-10 px-6">
    <div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-3 items-center text-center gap-y-6 md:gap-x-10">
  
      <!-- Students Enrolled -->
      <div>
        <p class="text-4xl font-bold text-green-600">500+</p>
        <p class="stats-text">Students Enrolled</p>
      </div>
  
      <!-- Classes Conducted -->
      <div class="stats-border">
        <p class="text-4xl font-bold text-orange-500">10,000+</p>
        <p class="stats-text">Classes Conducted</p>
      </div>
  
      <!-- Years of Experience -->
      <div class="stats-border">
        <p class="text-4xl font-bold text-violet-600">5+</p>
        <p class="stats-text">Years of Experience</p>
      </div>
  
    </div>
  </div>
  