<header>
    <div class="contact-info">
      <span class="phone">
        <i class="fas fa-phone"></i>
        Mobile: {{ mobileNumber }}
      </span>
      <span class="email">
        <i class="fas fa-envelope"></i>
        Email: {{ emailAddress }}
      </span>
    </div>
    <div class="social-icons">
      <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
      <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://www.youtube.com" target="_blank"><i class="fab fa-youtube"></i></a>
      <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
</header>