.header-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  color: #f0f0f0; /* Add a background color for better visibility */
  background-color: #333;
}

.contact-info {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  text-align: center; /* Center text within each item */
}

.contact-info a {
 color: #ffa600;
}

.social-icons {
  display: flex;
}

.social-icons a {
  margin-right: 10px;
  color: #ffa600; /* Adjust icon color */
  text-decoration: none; /* Remove underline from the links */
  font-size: 1.5rem; /* Adjust icon size */
}

.social-icons a:hover {
  color: #007bff; /* Change color on hover */
}

.header-container-small-screen {
  flex-direction: column;
  justify-content: center;
}

.social-icons-small-screen {
  margin-top: 10px;
}

.phone-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.phone {
  display: grid;
}