<header class="header-container"
[class.header-container-small-screen]="isSmallScreen">
  <div class="contact-info">
    <span class="phone">
      <i class="fas fa-phone"></i>
      Mobile: <a [href]="'tel:' + mobileNumber">{{ mobileNumber }}</a>
    </span>
    <span class="email">
      <i class="fas fa-envelope"></i>
      Email: <a [href]="'mailto:' + emailAddress">{{ emailAddress }}</a>
    </span>
  </div>

  <div class="social-icons"
  [class.social-icons-small-screen]="isSmallScreen">
    <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://www.youtube.com" target="_blank"><i class="fab fa-youtube"></i></a>
    <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
  </div>
</header>
