<!-- src/app/about/about.component.html -->

<div class="about-page">
    <div class="about-content">
        <h2><strong>Welcome to White Knight Chess Club</strong></h2>
        <p>Embark on a journey into the intricate world of chess with the White Knight Chess Club. We are more than just a club; we are a community of strategic minds, passionate about the age-old game of chess.</p>
        <p>At White Knight Chess Club, we believe in fostering an environment where players of all skill levels can come together, learn, and grow. Whether you're a grandmaster or just making your first moves, our doors are open to you.</p>
        <p>What sets us apart is our dedication to not only honing our chess skills but also building lasting connections. Join us for thrilling matches, interactive lessons, and a supportive community that shares your love for the game.</p>
        <p>Discover the joy of outwitting your opponents, the thrill of a perfectly executed strategy, and the camaraderie that comes with being part of the White Knight Chess Club.</p>
        <p>Ready to make your move? Join us and let's checkmate the world together!</p>

        <!-- CEO Section -->
        <div class="ceo-section">
        <p>Meet our visionary leaders:</p>
        <p><strong>Kavinkumar G and Rishi R</strong></p>
        <p>Passionate about chess and dedicated to leading our club to new heights.</p>
        <p>Under their guidance, we continue to strive for excellence, empowering chess enthusiasts and creating a community that thrives on strategic thinking and sportsmanship.</p>
        </div>
    </div>
</div>
  