.navbar {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navbar-nav {
 flex-wrap: wrap;
}

.navbar-nav .nav-link {
  color: white; /* Change the color of the navigation links */
}

.nav-item:hover .fas, .nav-item:hover .nav-link {
  color: #007bff; /* Change the color on hover if needed */
}

.brand-text {
  color: white;
  font-size: 1.8rem;
}

.navbar-toggler {
  background-color: #ffa600;
}

.navbar-toggler:focus {
  outline: none; /* Remove the focus outline when the toggler is clicked */
}

.navbar-nav {
  background-color: #ffa600;
  text-align: center;
}

.nav-item {
  padding: 0.8rem;
  font-size: 1.2rem;
  border: 1px solid black;
}

.selected .nav-link , .selected .fas {
  color: black; /* Change text color */
  font-weight: bold;
}

.logo {
  width: 8rem;
  height: 8rem;
}

/* Extra small devices (phones) */
@media (max-width: 575.98px) {
  /* Styles for extra small devices */
  .logo {
    width: 3rem;
    height: 3rem;
  }

  .brand-text {
    color: white;
    font-size: 1rem;
  }

  .navbar-toggler {
    font-size: 0.5rem; /* Adjust the font size */
  }

  .nav-item {
    padding: 0.4rem;
    font-size: 0.8rem;
  }
}

/* Small devices (phones) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Styles for small devices */
  .logo {
    width: 4rem;
    height: 4rem;
  }

  .brand-text {
    color: white;
    font-size: 1rem;
  }
  
  .navbar-toggler {
    font-size: 0.5rem; /* Adjust the font size */
  }

  .nav-item {
    padding: 0.4rem;
    font-size: 0.8rem;
  }
}