.navbar {
  background-color: black;
  color: white;
}

.navbar-nav .nav-link {
  color: white; /* Change the color of the navigation links */
}

.navbar-nav .nav-link:hover {
  color: #007bff; /* Change the color on hover if needed */
}

.brand-text {
  color: white;
}

.navbar-toggler-icon {
  background-color: transparent; /* Set the background to transparent */
  border-color: white; /* Set the border color to white */
}

.navbar-toggler:focus {
  outline: none; /* Remove the focus outline when the toggler is clicked */
}