.radio-group {
  display: flex;
  width: 48%;
}

.selection{
  margin-right: 1rem;
}

.checkbox-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.row-controls {
  display: flex;
  justify-content: space-between;
}

.row-controls > * {
  width: 48%;
}