<div class="form-container">
  <h2 *ngIf="formType !== 'none'" class="pop-up-header">Chess Class Admission Form</h2>
  <form (ngSubmit)="submitStudentForm()" [formGroup]="studentForm" class="form" *ngIf="formType === 'student'">
    <div class="form-group">
      <label for="studentName" class="form-label">Student Name<span>*</span></label>
      <div class="row-controls" formGroupName="student">
        <input
          type="text"
          class="form-control"
          id="studentFirstName"
          formControlName="studentFirstName"
          placeholder="first name"
          [class.error]="controlInvalid('student.studentFirstName')"
        >
        <input
          type="text"
          class="form-control"
          id="studentLastName"
          formControlName="studentLastName"
          placeholder="last name"
        >  
      </div>
      <div *ngIf="controlInvalid('student.studentFirstName')" class="error-message">
          <span>Enter a valid first name (2-30 characters).</span>
      </div>
    </div>
    <div class="form-group">
      <div class="row-controls">
        <div>
          <label for="dob" class="form-label">Date of birth<span>*</span></label>
          <input
            type="date"
            class="form-control"
            id="dateOfBirth"
            formControlName="dateOfBirth"
            placeholder="dd/mm/yyyy"
            [class.error]="dateOfBirthControlInvalid(5, 21)"
            (change)="calculateAge($event)"
          >
        </div>
        <div>
          <label for="age" class="form-label">Age<span>*</span></label>
          <input
            type="number"
            class="form-control"
            id="age"
            formControlName="age"
            [value]="age"
            readonly
          >
        </div>
      </div>
      <div *ngIf="dateOfBirthControlInvalid(5, 21)" class="error-message">
        <span>Select a valid date. Student age should be 5 to 21.</span>
      </div>
    </div>
    <div class="form-group">
      <label for="grade" class="form-label">Grade<span>*</span></label>
      <select
        id="grade"
        formControlName="grade"
        required
        class="form-control"
        [class.error]="controlInvalid('grade')"
      >
        <option *ngFor="let grade of grades" [value]="grade">{{ grade }}</option>
      </select>
      <div *ngIf="controlInvalid('grade')" class="error-message">
          <span>Select a grade.</span>
      </div>
    </div>
    <div class="form-group">
      <label for="school" class="form-label">School Name<span>*</span></label>
      <input
        type="school"
        class="form-control"
        id="school"
        formControlName="school"
        [class.error]="controlInvalid('school')"
      >
      <div *ngIf="controlInvalid('school')" class="error-message">
          <span>Enter a valid school name (5-30 characters).</span>
      </div>
    </div>
    <div class="form-group">
      <label for="parentName" class="form-label">Parent Name<span>*</span></label>
      <div class="row-controls" formGroupName="parent">
        <input
          type="text"
          class="form-control"
          id="parentFirstName"
          formControlName="parentFirstName"
          placeholder="first name"
          [class.error]="controlInvalid('parent.parentFirstName')"
        >
        <input
          type="text"
          class="form-control"
          id="parentLastName"
          formControlName="parentLastName"
          placeholder="last name"
        >
      </div>
      <div *ngIf="controlInvalid('parent.parentFirstName')" class="error-message">
          <span>Enter a valid first name (2-30 characters).</span>
      </div>
    </div>
    <div class="form-group">
      <label for="email" class="form-label">Parent Email<span>*</span></label>
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
        [class.error]="controlInvalid('email')"
      >
      <div *ngIf="controlInvalid('email')" class="error-message">
          <span>Enter valid email id.</span>
      </div>
    </div>
    <div class="form-group">
      <label for="phoneNumber" class="form-label">Phone Number<span>*</span></label>
      <input
        type="tel"
        class="form-control"
        id="phoneNumber"
        formControlName="phoneNumber"
        [class.error]="controlInvalid('phoneNumber')"
      >
      <div *ngIf="controlInvalid('phoneNumber')" class="error-message">
        <span>Enter valid phone number.</span>
      </div>
    </div>
    <div class="form-group">
      <label for="fideId" class="form-label">Fide Id</label>
      <div class="name" formGroupName="fide">
        <input
          type="text"
          class="form-control"
          id="fideId"
          formControlName="id"
          placeholder="Fide Id(optional)"
          [class.error]="controlInvalid('fideId')"
        >
        </div>
      <div *ngIf="controlInvalid('fideId')" class="error-message">
        <span>Enter valid Fide Id (7-9 characters contain number only).</span>
      </div>
    </div>
    <div class="form-group">
      <label for="fideRating" class="form-label">Fide Rating</label>
      <div class="name" formGroupName="fide">
        <input
          type="text"
          class="form-control"
          id="fideRating"
          formControlName="rating"
          placeholder="Fide Rating(optional)"
          [class.error]="controlInvalid('fideRating')"
        >
      </div>
      <div *ngIf="controlInvalid('fideRating')" class="error-message">
        <span>Enter valid Fide Rating (1400 - 3000 range).</span>
      </div>
    </div>
    <div class="form-group">
      <label for="level" class="form-label">Level</label>
      <div>
        <input
          type="radio"
          id="levelBeginner"
          formControlName="chessLevel"
          class="selection"
          value="beginner"
        >
        <label for="levelBeginner">Beginner</label>
      </div>
      <div>
        <input
          type="radio"
          id="levelIntermediate"
          formControlName="chessLevel"
          class="selection"
          value="intermediate"
        >
        <label for="levelIntermediate">Intermediate</label>
      </div>
      <div>
        <input
          type="radio"
          id="levelAdvanced"
          formControlName="chessLevel"
          class="selection"
          value="advanced"
        >
        <label for="levelAdvanced">Advanced</label>
      </div>
    </div>
    <div class="pop-up-button-group">
      <button type="button" (click)="closeForm()">Close</button>
      <button type="submit">Submit</button>
    </div>
  </form>
  <form (ngSubmit)="submitWorkingForm()" [formGroup]="workingForm" class="form" *ngIf="formType === 'working'">
    <div class="form-group" formGroupName="name">
      <label for="name" class="form-label">Name<span>*</span></label>
      <div class="row-controls">
        <input
          type="text"
          class="form-control"
          id="firstName"
          formControlName="firstName"
          placeholder="first name"
          [class.error]="controlInvalid('name.firstName')"
        >
        <input
          type="text"
          class="form-control"
          id="lastName"
          formControlName="lastName"
          placeholder="last name"
        >  
      </div>
      <div class="error-message" *ngIf="controlInvalid('name.firstName')">
        <span>Enter a valid first name (2-30 characters).</span>
      </div>
    </div>
    <div class="form-group">
      <div class="row-controls">
        <div>
          <label for="dob" class="form-label">Date of birth<span>*</span></label>
          <input
            type="date"
            class="form-control"
            id="dateOfBirth"
            formControlName="dateOfBirth"
            placeholder="dd/mm/yyyy"
            [class.error]="dateOfBirthControlInvalid(18, 100)"
            (change)="calculateAge($event)"
          >
        </div>
        <div>
          <label for="age" class="form-label">Age<span>*</span></label>
          <input
            type="number"
            class="form-control"
            id="age"
            formControlName="age"
            [value]="age"
            readonly
          >
        </div>
      </div>
      <div *ngIf="dateOfBirthControlInvalid(18, 100)" class="error-message">
        <span>Select a valid date. Age should be above 18.</span>
      </div>
    </div>
    <div class="form-group">
      <label for="email" class="form-label">Email<span>*</span></label>
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
        [class.error]="controlInvalid('email')"
      >
      <div class="error-message" *ngIf="controlInvalid('email')">
        <span>Enter valid email id.</span>
      </div>
    </div>
    <div class="form-group">
      <label for="phoneNumber" class="form-label">Phone Number<span>*</span></label>
      <input
        type="tel"
        class="form-control"
        id="phoneNumber"
        formControlName="phoneNumber"
        [class.error]="controlInvalid('phoneNumber')"
      >
      <div class="error-message" *ngIf="controlInvalid('phoneNumber')">
        <span>Enter valid phone number.</span>
      </div>
    </div>
    <div class="form-group">
      <label for="occupation" class="form-label">Occupation<span>*</span></label>
      <input
        type="text"
        class="form-control"
        id="occupation"
        formControlName="occupation"
        [class.error]="controlInvalid('occupation')"
      >
      <div class="error-message" *ngIf="controlInvalid('occupation')">
        <span>Enter valid occupation (2-30 characters).</span>
      </div>
    </div>
    <div class="form-group">
      <label for="fideId" class="form-label">Fide Id</label>
      <div class="name" formGroupName="fide">
        <input
          type="text"
          class="form-control"
          id="fideId"
          formControlName="id"
          placeholder="Fide Id(optional)"
          [class.error]="controlInvalid('fideId')"
        >
        </div>
      <div *ngIf="controlInvalid('fideId')" class="error-message">
        <span>Enter valid Fide Id (7-9 characters contain number only).</span>
      </div>
    </div>
    <div class="form-group">
      <label for="fideRating" class="form-label">Fide Rating</label>
      <div class="name" formGroupName="fide">
        <input
          type="text"
          class="form-control"
          id="fideRating"
          formControlName="rating"
          placeholder="Fide Rating(optional)"
          [class.error]="controlInvalid('fideRating')"
        >
      </div>
      <div *ngIf="controlInvalid('fideRating')" class="error-message">
        <span>Enter valid Fide Rating (1400 - 3000 range).</span>
      </div>
    </div>
    <div formGroupName="chessLevel" class="form-group">
      <label for="level" class="form-label">Level</label>
      <div>
        <input
          type="checkbox"
          id="levelBeginner"
          formControlName="beginner"
          class="selection"
          value="beginner"
        >
        <label for="levelBeginner">Beginner</label>
      </div>
      <div>
        <input
          type="checkbox"
          id="levelIntermediate"
          formControlName="intermediate"
          class="selection"
          value="intermediate"
        >
        <label for="levelIntermediate">Intermediate</label>
      </div>
      <div>
        <input
          type="checkbox"
          id="levelAdvanced"
          formControlName="advanced"
          class="selection"
          value="advanced"
        >
        <label for="levelAdvanced">Advanced</label>
      </div>
    </div>
    <div class="pop-up-button-group">
      <button type="button" (click)="closeForm()">Close</button>
      <button type="submit">Submit</button>
    </div>
  </form>
</div>
