.radio-group {
  display: flex;
  width: 48%;
}

.selection{
  margin-right: 1rem;
}

.checkbox-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.pop-up-button-group > button:disabled {
  background-color: #d3d3d3;
  cursor: not-allowed;
}