<div class="my-overlay"></div>
<div class="pop-up">
  <div class="pop-up-content" *ngIf="formType === 'none'">
    <h3 class="pop-up-header">What best describes your current status?</h3>
    <div class="pop-up-button-group">
      <button
        (click)="formType = 'student'">
        Student
      </button>
      <button
        (click)="formType = 'working'">
        Working Professional
      </button>
    </div>
  </div>
  <admission-form [formType]="formType" *ngIf="formType !== 'none'"></admission-form>
</div>
