/* You can add global styles to this file, and also import other style files */
/* src/styles.css or src/styles.scss */
@import '~bootstrap/dist/css/bootstrap.min.css';

.pop-up {
    padding: 0.6rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 2;
    width: 50%;
    max-height: 90%;
    overflow-y: auto;
}

.my-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.pop-up-button-group {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.pop-up-button-group > button {
    background-color: #ffa600;
    color: #fff;
    border: none;
    padding: 0.6rem 1.25rem;
    cursor: pointer;
}

.pop-up-header {
    text-align: center;
    margin-bottom: 1.25rem;
}

.form {
    padding: 1rem;
  }
  
  body.show-overlay {
    overflow: hidden;
  }
  
  .form-group {
    margin-bottom: 20px;
  }

  
.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .error-message {
    color: #ff0000; /* Red color for error messages */
    font-size: 0.8rem; /* Adjust font size */
    margin-top: 5px; /* Add some space between the input field and the error message */
  }
  
  /* Style individual error messages */
  .error-message span {
    display: block; /* Display error messages on separate lines */
  }
  .error {
    border-color: #f44336; /* Change border color to indicate invalid input */
  }
.pop-up-content {
    padding: 5rem;
    align-content: center;
}
@media (max-width: 912px) {
    .pop-up {
        width: 90%;
        max-height: 80%;
    }
    .pop-up-content {
        padding: 2rem;
    }

    .pop-up-button-group {
        flex-direction: column;
        align-items: stretch;
    }

    .pop-up-button-group > button {
        margin-top: 1rem;
    }
}