.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin: 40px 0;
}

.gallery-item img {
    width: 450px;
    height: 450px;
    object-fit: contain;
    border-radius: 5px;
    background-color: black;
}
